# Virtual Environment
.venv/
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Distribution
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# macOS
.DS_Store

# Windows
Thumbs.db